#index.container
  %h5 Welcome to the Finiata Pokedex! Refresh to see other Pokemons

#index.container.my-5.p-3
  .row.mb-3
    .col-4
      %p Pokemon: #{@name.capitalize}
      %p species: #{@species}
    .col-4
      %img.center{ src: @image }
    .col-4.col-right
      %p height: #{@height}
      %p weight: #{@weight}
      %p abilities: #{@abilities}
